*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row{
    padding: 5px 5px;
    color: red;
    background-color: silver;
    height: 380px;
    margin: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    flex-direction: column;
}

h3 a{
    display: inline;
    color: gold;
    text-decoration: none;
}

.cost{
    padding: 15px 2px;
    background-color: rgb(95, 95, 133);
    font-size: 15px;
}

.box-link{
    padding: 30px 0px;
}

.rows{
    padding-top: 50px;
}

h2, h2:hover{
    text-align: center;
    font-size: 45px;
}

h2:hover{
    color: red;
}

h1{
    font-size: 20px;
}

.banner{
    display: flex;
}

.artic{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    text-align: justify;
    
}

.img{
    display: flex;
    flex: 4;
    padding: 20px 50px;

}

.text{
    flex: 5;
}


@media (max-width: 820px) {
    .nav-link{
        width: 80%;
        padding: 10px 5px;
        box-sizing: border-box;
        flex-direction: column;
        flex-wrap: column;
    }

    .row{
        height: 310px;
        color: green;
        width: 100%;
    }

    .cost{
        padding: 10px 100px;
    }
    .banner{
        display: inline;
    }
}